HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
maven-wrapper.jar
maven-wrapper.properties
MavenWrapperDownloader.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

vcs.xml
workspace.xml
mvnw
mvnw.cmd
